@model WashingCarDBJosue.DAL.Entities.VehicleDetails

@{
    ViewData["Title"] = "Edit";
}

<h4>Detalles del vehículo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Vehicle.Service.Name)
        </dt>
        <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Vehicle.Service.Name)
        </dd>
        <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Vehicle.NumberPlate)
        </dt>
        <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Vehicle.NumberPlate)
        </dd>
            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label"></label>
                <input asp-for="DeliveryDate" class="form-control" />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreationDate" />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
